
.logoContainer {
    transition: transform 0.3s ease-in-out;
}

.logoContainer:hover {
    transform: scale(1.3); /* Ajusta el valor según tus preferencias */
    filter: brightness(1.2);
}

.logoImage {
    filter: invert(1);
}


@media (max-width: 768px) {
    .container{
        flex-direction: column;
        padding: 2em;
    }

   
}
