@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
.bg-gray-light{
  background-color: #807669;
}

.text-salmon {
  color: hsl(35, 100%, 75%);
}

.ant-popover-title{
  font-family: 'Onest', sans-serif !important;
  min-width: unset !important;
  margin-bottom: 0px !important;
}